body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
html {
  height: 100%;
}
body {
  background-color: #f1f1f1;
  height: 100%;
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.wrap {
  width: 7.1rem;
  margin: 0 auto;
}
.header {
  width: 7.5rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 999;
  background-color: #f26b11;
}
.header .wrap {
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart img {
  width: 0.36rem;
  height: 0.36rem;
}
.header p {
  color: #ffffff;
  font-size: 0.36rem;
}
.header .points span {
  float: left;
  margin-left: 0.1rem;
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.contact {
  height: 1.52rem;
  margin-top: 0.3rem;
  background-color: #fff;
  padding: 0 0.22rem;
  margin-bottom: 0.1rem;
  padding-top: 0.88rem;
}
.contact .txt {
  color: #666666;
  float: left;
  font-size: 0.26rem;
  width: 6.7rem;
  padding-top: 0.26rem;
}
.contact .txt .user span {
  float: right;
}
.contact .txt .address {
  margin-top: 0.22rem;
}
.contact .txt .address span {
  display: inline-block;
  width: 5.3rem;
  vertical-align: top;
  line-height: 0.3rem;
}
.contact .edit {
  float: right;
  margin-top: 0.63rem;
}
.contact .edit img {
  width: 0.19rem;
  height: 0.26rem;
}
.pro {
  background-color: #ffffff;
  padding-top: 0.2rem;
  margin-bottom: 0.1rem;
}
.pro .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pro .top .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.12rem;
}
.pro .top .name img {
  width: 1.02rem;
  height: 1.15rem;
}
.pro .top .name .size {
  font-size: 0.26rem;
  line-height: 0.46rem;
}
.pro .top .name .size .p1 {
  color: #747474;
}
.pro .top .name .size .p2 {
  color: #c8c8c8;
}
.pro .top .price p {
  font-size: 0.3rem;
  color: #e7343a;
}
.pro .top .price p span {
  font-size: 0.2rem;
}
.pro .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid #dcdcdc;
}
.pro .bottom p,
.pro .bottom .count-group {
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #747474;
}
.pro .bottom p {
  display: inline-block;
}
.pro .bottom .count-group {
  display: flex;
  float: right;
  width: 2.12rem;
  height: 0.6rem;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0.04rem;
  line-height: 0.6rem;
}
.pro .bottom .count-group input[type=button] {
  flex-shrink: 0;
  width: 0.62rem;
  height: 0.58rem;
  background-color: transparent;
  font-size: 0.24rem;
}
.pro .bottom .count-group input[type=text] {
  width: 0.84rem;
  flex-shrink: 1;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 0.3rem;
  text-align: center;
}
.pro .express {
  padding: 0.3rem 0;
}
.pro .express p {
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #747474;
}
.pro .express p.left {
  float: left;
}
.pro .express p.right {
  float: right;
}
.pro .integral {
  padding: 0.3rem 0;
  text-align: center;
  border-top: 1px solid #dcdcdc;
}
.pro .integral p {
  display: inline-block;
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #747474;
}
.pro .integral p.left {
  float: left;
  padding-top: 0.1rem;
}
.pro .integral p.right {
  float: right;
  font-size: 0.24rem;
}
.pro .integral p.right input {
  display: inline-block;
  font-size: 0.26rem;
  line-height: 0.46rem;
  height: 0.46rem;
  border-radius: 0.06rem;
}
.pro .integral p.right .text {
  width: 1.52rem;
  height: 0.74rem;
  border: 1px solid #ededed;
  color: #ededed;
}
.pro .integral p.right .button {
  width: 0.74rem;
  height: 0.74rem;
  background-color: #e7343a;
  color: #fff;
  margin: 0 0.1rem;
}
.pro .integral p.right span {
  color: #e7343a;
}
.price ul {
  padding: 0.3rem 0;
  border-bottom: 1px solid #dcdcdc;
}
.price ul li {
  padding: 0.1rem 0;
}
.price ul li p {
  font-size: 0.26rem;
  line-height: 0.46rem;
  color: #747474;
}
.price ul li .left {
  float: left;
}
.price ul li .right {
  float: right;
  color: #e7343a;
}
.price .pay {
  float: right;
  margin: 0.3rem 0;
}
.price .pay p {
  font-size: 0.3rem;
  color: #747474;
}
.price .pay p span {
  color: #e7343a;
}
.submit {
  padding-bottom: 2rem;
}
.submit .wrap {
  text-align: center;
}
.submit .wrap input {
  background-color: #f26b11;
  color: #fff;
  width: 3.54rem;
  height: 1.1rem;
  text-align: center;
  font-size: 0.34rem;
  line-height: 1.1rem;
}
.fixed-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
}
.fixed-menu .con {
  width: 7.5rem;
  height: 1.2rem;
  margin: 0 auto;
  background-color: #fff;
}
.fixed-menu .nav {
  font-size: 0.22rem;
  width: 6.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.22rem;
  box-sizing: border-box;
  line-height: 1.8;
}
.fixed-menu .nav a {
  color: #999;
  text-align: center;
}
.fixed-menu .nav a.shopCar {
  color: #f26b11;
}
.fixed-menu .nav a i {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.fixed-menu .nav a:first-child i {
  background-image: url("../images/public/icon_8.jpg");
}
.fixed-menu .nav a:nth-child(2) i {
  background-image: url("../images/public/icon_9.jpg");
}
.fixed-menu .nav a:nth-child(3) i {
  background-image: url("../images/public/icon_5.jpg");
}
