body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
html {
  height: 100%;
}
body {
  background-color: #ffffff;
  height: 100%;
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.wrap {
  width: 7.1rem;
  margin: 0 auto;
}
.header {
  width: 7.5rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 999;
  height: 0.88rem;
  background-color: #f26b11;
}
.header .wrap {
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart img {
  width: 0.36rem;
  height: 0.36rem;
}
.header p {
  color: #ffffff;
  font-size: 0.36rem;
}
.header .points span {
  float: left;
  margin-left: 0.1rem;
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.shopCar-list {
  margin-top: 0.88rem;
  overflow: hidden;
}
.shopCar-list li {
  padding: 0.5rem 0.22rem;
  margin: 0.25rem 0;
  box-shadow: 0.1rem 0 0.1rem 0 #dcdcdc;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopCar-list li.active {
  position: relative;
  left: -0.98rem;
}
.shopCar-list li .pro {
  width: 3.52rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopCar-list li .pro i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 50%;
  border: 0.03rem solid #b42c1e;
  background: url(../images/shoping_car_images/select.jpg) no-repeat 0.03rem;
  background-size: 0.25rem 0.25rem;
  vertical-align: center;
}
.shopCar-list li .pro img {
  width: 1.02rem;
  height: 0.82rem;
  vertical-align: center;
}
.shopCar-list li .pro .des {
  display: inline-block;
  vertical-align: center;
}
.shopCar-list li .pro .des p {
  margin: 0.1rem 0;
}
.shopCar-list li .pro .des p.name {
  font-size: 0.26rem;
  color: #333333;
}
.shopCar-list li .pro .des p.size {
  font-size: 0.24rem;
  color: #666666;
}
.shopCar-list li .pro .des p.price {
  font-size: 0.3rem;
  color: #f26b11;
}
.shopCar-list li .pro .des p.price span {
  font-size: 0.24rem;
}
.shopCar-list li .count-group {
  display: flex;
  float: right;
  width: 2.12rem;
  height: 0.6rem;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0.04rem;
  line-height: 0.6rem;
}
.shopCar-list li .count-group input[type=button] {
  flex-shrink: 0;
  width: 0.62rem;
  height: 0.58rem;
  background-color: transparent;
  font-size: 0.24rem;
}
.shopCar-list li .count-group input[type=text] {
  width: 0.84rem;
  flex-shrink: 1;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 0.3rem;
  text-align: center;
}
.shopCar-list li .del {
  
  width: 0.98rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #e43a3d;
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
}
.payfor {
  position: fixed;
  left: 0;
  bottom: 1.5rem;
  height: 1.18rem;
  width: 100%;
  vertical-align: center;
}
.payfor .wrap {
  display: flex;
}
.payfor .order {
  display: flex;
  align-items: center;
  margin-left: 0.22rem;
  width: 1.88rem;
}
.payfor .order i {
  display: inline-block;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 50%;
  border: 0.03rem solid #b42c1e;
  background: url(../images/shoping_car_images/select.jpg) no-repeat 0.03rem;
  background-size: 0.25rem 0.25rem;
  vertical-align: center;
  margin-right: 0.1rem;
}
.payfor .order span {
  display: inline-block;
  font-size: 0.24rem;
  line-height: 1.18rem;
  vertical-align: center;
}
.payfor .count {
  padding-top: 0.24rem;
  width: 2.84rem;
}
.payfor .count .count1 {
  font-size: 0.3rem;
  color: #333333;
  margin-bottom: 0.14rem;
  vertical-align: right;
}
.payfor .count .count1 span {
  color: #b42c1e;
}
.payfor .count .count2 {
  font-size: 0.2rem;
  color: #666666;
  vertical-align: right;
}
.payfor .pay {
  padding-left: 0.44rem;
  color: #ffffff;
  background-color: #f26b11;
  font-size: 0.3rem;
  width: 2.46rem;
  line-height: 1.18rem;
}
.fixed-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
}
.fixed-menu .con {
  width: 7.5rem;
  height: 1.2rem;
  margin: 0 auto;
  background-color: #fff;
}
.fixed-menu .nav {
  font-size: 0.22rem;
  width: 6.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.22rem;
  box-sizing: border-box;
  line-height: 1.8;
}
.fixed-menu .nav a {
  color: #999;
  text-align: center;
}
.fixed-menu .nav a.shopCar {
  color: #f26b11;
}
.fixed-menu .nav a i {
  display: block;
  width: 0.58rem;
  height: 0.58rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.fixed-menu .nav a:first-child i {
  background-image: url("../images/public/icon_8.jpg");
}
.fixed-menu .nav a:nth-child(2) i {
  background-image: url("../images/public/icon_9.jpg");
}
.fixed-menu .nav a:nth-child(3) i {
  background-image: url("../images/public/icon_5.jpg");
}
