body {
  margin: 0;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
dl,
dd {
  margin: 0;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}
td {
  text-align: left;
  vertical-align: top;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  outline: none;
  /*去掉输入框的蓝色轮廓框*/
}
textarea {
  resize: none;
  /* 禁止用户重置元素大小 */
  overflow: auto;
  font-family: inherit;
  outline: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
}
input {
  border-radius: 0;
}
input::-webkit-input-placeholder {
  color: #666;
  /*  默认的样式 */
}
input:focus::-webkit-input-placeholder {
  color: #666;
  /* 点击后的样式 */
}
html {
  height: 100%;
}
body {
  background-color: #efefef;
  height: 100%;
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.wrap {
  width: 7.1rem;
  margin: 0 auto;
}
.header {
  width: 7.5rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 999;
  background-color: #f26b11;
}
.header .wrap {
  height: 0.88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .cart img {
  width: 0.36rem;
  height: 0.36rem;
}
.header p {
  color: #ffffff;
  font-size: 0.36rem;
}
.header .points span {
  float: left;
  margin-left: 0.1rem;
  width: 0.13rem;
  height: 0.13rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.banner {
  margin-top: 0.88rem;
}
.banner img {
  width: 100%;
  height: 7.48rem;
}
.banner img.img2 {
  height: 3.27rem;
  margin-bottom: 0.32rem;
}
.banner p {
  font-size: 0.36rem;
  line-height: 0.48rem;
  color: #333333;
}
.banner p.price {
  color: #e3393a;
  margin-top: 0.4rem;
  padding-bottom: 0.3rem;
}
.banner p.price span {
  color: #878787;
  font-size: 0.27rem;
  margin-left: 0.15rem;
}
.sale {
  display: flex;
  justify-content: space-between;
  padding-top: 0.36rem;
  margin-top: 0.18rem;
}
.sale p {
  font-size: 0.28rem;
  color: #464646;
}
.sale p .discount {
  font-size: 0.2rem;
  color: #b12818;
  display: inline-block;
  border: 1px solid #b12818;
  padding: 0.06rem;
  margin: 0 0.18rem 0 0.28rem;
}
.sale img {
  width: 0.28rem;
  height: 0.16rem;
}
.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.42rem 0;
}
.number p {
  font-size: 0.28rem;
  color: #464646;
}
.number .count-group {
  display: flex;
  float: right;
  width: 2.12rem;
  height: 0.6rem;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0.04rem;
  line-height: 0.6rem;
}
.number .count-group input[type=button] {
  flex-shrink: 0;
  width: 0.62rem;
  height: 0.58rem;
  background-color: transparent;
  font-size: 0.24rem;
}
.number .count-group input[type=text] {
  width: 0.84rem;
  flex-shrink: 1;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 0.3rem;
  text-align: center;
}
.quality {
  padding-bottom: 0.4rem;
}
.quality .name {
  font-size: 0.28rem;
  color: #464646;
}
.quality .size {
  display: block;
  font-size: 0.26rem;
  margin-top: 0.25rem;
  color: #b5b5b5;
}
.quality .size .size1,
.quality .size .size2 {
  font-size: 0.26rem;
  display: inline-block;
  color: #ffffff;
  line-height: 0.56rem;
  height: 0.56rem;
  border-radius: 0.1rem;
  text-align: center;
}
.quality .size .size1 {
  width: 1.5rem;
  margin: 0 0.15rem 0 0.72rem;
  background-color: #e43a3d;
}
.quality .size .size2 {
  width: 1.14rem;
  background-color: #e1e1e3;
}
.details h2 {
  padding: 0.32rem 0;
  font-size: 0.34rem;
}
.details img {
  height: 4.58rem;
  width: 100%;
}
.details img.img2 {
  height: 6.48rem;
}
.details img.img3 {
  height: 5.92rem;
}
.details img.img4 {
  height: 3.5rem;
}
.details img.img5 {
  height: 3.31rem;
}
.assess {
  margin-top: 0.28rem;
}
.assess h2 {
  font-size: 0.34rem;
  padding: 0.36rem 0;
}
.assess .user-ass {
  border: 1px solid #dcdcdc;
  border-left: none;
  border-right: none;
  font-size: 0.26rem;
}
.assess .user-ass p {
  margin: 0.43rem 0;
}
.assess .user-ass .username {
  color: #666666;
}
.assess .user-ass img {
  width: 1.54rem;
  height: 1.51rem;
  margin-right: 0.32rem;
}
.assess .user-ass .data {
  color: #9a9a9a;
}
.assess .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  color: #9a9a9a;
  font-size: 0.26rem;
}
.assess .count a {
  color: #9a9a9a;
  font-size: 0.26rem;
}
.bot-nav {
  display: flex;
  align-items: center;
  text-align: center;
}
.bot-nav .shopcar {
  width: 1.73rem;
  height: 1.55rem;
  position: relative;
}
.bot-nav .shopcar a {
  font-size: 0.2rem;
  color: #9a9a9a;
}
.bot-nav .shopcar a img {
  width: 0.56rem;
  height: 0.53rem;
  margin: 0.3rem 0;
}
.bot-nav .shopcar span {
  position: absolute;
  top: 0.2rem;
  left: 0.86rem;
  width: 0.26rem;
  height: 0.26rem;
  border-radius: 50%;
  background-color: #b12818;
  color: #ffffff;
  line-height: 0.26rem;
}
.bot-nav .shopcar1 {
  font-size: 0.36rem;
  line-height: 1.55rem;
  width: 2.92rem;
  height: 1.55rem;
  color: #ffffff;
  background-color: #f26b11;
}
.bot-nav .shop {
  font-size: 0.36rem;
  line-height: 1.55rem;
  width: 2.88rem;
  height: 1.55rem;
  color: #ffffff;
  background-color: #e43a3d;
}
